body{
    position: relative;
}
.navbar{
    background-color: transparent;
    .darshan{
        padding-left: 20px;
    }
  
    .log_in_btn{
        background: transparent;
        border: 1px solid black;
        color: black;
        &:hover{
            background-color: black;
            color: white;
        }
    }
}
