body{
    position: relative;
}
.navbar{
    background-color: transparent;
    .darshan{
        padding-left: 20px;
    }
  
    .log_in_btn{
        background: transparent;
        border: none;
        outline: 1px solid black;
        color: black;
        &:hover{
            background-color: black;
            color: white;
        }
    }
}

.log_in_form{
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
 
}